<div class="container">
    <div class="con">
        <h1 >Contáctanos</h1>
    </div>

    <br/>
    <div class="form-group">
        <label for="mensaje">Puedes contactarnos por cualquier duda que tenga</label>
        <input class="form-control" type="text" placeholder="Nombre">
        <br/>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo">
        <br/>
        <textarea class="form-control" placeholder="Su mensaje"></textarea>
        <br/>
        <button class="btn btn-primary">Enviar</button>
    </div>
</div>
<style>
    .con {
        background-color: rgba(19, 90, 117, 0.8);
        color: white;
        margin-top: 50px;
        margin-left: 200px;
        margin-right: 200px;
        text-align: center;       
}
    .container{
        text-align: center; 
    }
    .form-group{
        margin-left: 250px;
        margin-right: 250px;
    }
    button{
        background-color: rgba(19, 90, 117, 0.8);
        
    }

</style>