<div>
    
    <div class="card-header">Agregar Pedido</div>
    <div class="card-body">
        <form (ngSubmit)="create()">
            <div class="form-group row">
                <label for="fechaPedido" class="col-form-label col-sm-2">
                    Fecha del pedido
                </label>
                <input type="date" class="form-control" required
                name="fechaPedido" placeholder="fecha del Pedido"
                [(ngModel)]="persona.fechaPedido"/>
            </div>
            <div class="form-group row">
                <label for="fechaEntrega" class="col-form-label col-sm-2">
                    Fecha de entrega
                </label>
                <input type="date" class="form-control" required
                name="fechaEntrega" placeholder="fecha de entrega"
                [(ngModel)]="persona.fechaEntrega"/>
            </div>
            <div class="form-group row">
                <label for="precio" class="col-form-label col-sm-2">
                    Precio
                </label>
                <input type="number" class="form-control" required
                name="precio" placeholder="precio"
                [(ngModel)]="persona.precio"/>
            </div>
            <div class="form-group row">
                <label for="cliente" class="col-form-label col-sm-2">
                    Cliente
                </label>
                <input type="text" class="form-control" required
                name="cliente" placeholder="cliente"
                [(ngModel)]="persona.cliente"/>
            </div>
            <div class="form-group row">
                <label for="trans" class="col-form-label col-sm-2">
                    Transporte
                </label>
                <input type="text" class="form-control" required
                name="trans" placeholder="transporte"
                [(ngModel)]="persona.trans"/>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button role="button" class="btn btn-primary"
                    *ngIf="!persona.codigo else elseblock">
                        Crear
                    </button>
                    <ng-template #elseblock>
                        <button type="button" class="btn btn-info" 
                        (click)="update()">Editar</button>
                    </ng-template>
                </div>

            </div>
        </form>
    </div>
</div>
